# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
.env

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/e3f1931bc9fda52f249735e00f03a9ec
build/flutter_pdfview
build/kotlin
build/path_provider_android
build/ade00fc64fa695e0daed02c1105f6d67.cache.dill.track.dill
build/app/generated
build/app/intermediates
build/app/kotlin
build/app/snapshot
build/app/tmp
build/app/outputs/apk
build/app/outputs/logs
build/app/outputs/flutter-apk/app-debug.apk.sha1
build/open_file
build/permission_handler_android

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
